<body class="flex bg-gray-100 min-h-screen">
    <aside class="hidden sm:flex sm:flex-col">
        <a href="#"
            class="inline-flex items-center justify-center h-20 w-20 bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-500">
            {{!-- <svg fill="none" viewBox="0 0 64 64" class="h-12 w-12">
                <title>Company logo</title>
                <path
                    d="M32 14.2c-8 0-12.9 4-14.9 11.9 3-4 6.4-5.6 10.4-4.5 2.3.6 4 2.3 5.7 4 2.9 3 6.3 6.4 13.7 6.4 7.9 0 12.9-4 14.8-11.9-3 4-6.4 5.5-10.3 4.4-2.3-.5-4-2.2-5.7-4-3-3-6.3-6.3-13.7-6.3zM17.1 32C9.2 32 4.2 36 2.3 43.9c3-4 6.4-5.5 10.3-4.4 2.3.5 4 2.2 5.7 4 3 3 6.3 6.3 13.7 6.3 8 0 12.9-4 14.9-11.9-3 4-6.4 5.6-10.4 4.5-2.3-.6-4-2.3-5.7-4-2.9-3-6.3-6.4-13.7-6.4z"
                    fill="#fff" />
            </svg> --}}
            <img src="https://img.icons8.com/external-others-pike-picture/100/000000/external-Money-Tracking-detective-others-pike-picture-2.png"
                alt="Logo" height="60" width="60">
        </a>
        <div class="flex-grow flex flex-col justify-between text-gray-500 bg-gray-800">
            <nav class="flex flex-col mx-4 my-6 space-y-4">

                <a href="/home"
                    class="inline-flex items-center justify-center py-3 text-indigo-600 bg-white rounded-lg">
                    <span class="sr-only">Dashboard</span>
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                    </svg>
                </a>
                <a href="/expenses"
                    class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Expenses</span>
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
                    </svg>
                </a>
                <a href="#"
                    class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Documents</span>
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                    </svg>
                </a>
                <a href="#"
                    class="inline-flex items-center justify-center py-3 hover:text-gray-400 hover:bg-gray-700 focus:text-gray-400 focus:bg-gray-700 rounded-lg">
                    <span class="sr-only">Log Out</span>
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                </a>
            </nav>
        </div>
    </aside>
    <div class="flex-grow text-gray-800">

        <main class="p-6 sm:p-10 space-y-6">
            <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
                <div class="mr-6">
                    <h1 class="text-4xl font-semibold mb-2">Dashboard - All amounts in {{currency}}</h1>
                </div>
            </div>
            <h3 class="text-xl font-semibold mb-2">Recent Transactions</h3>
            <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">

                {{#each recent}}
                <div class="flex items-center p-8 bg-white shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-indigo-600 bg-indigo-100 rounded-full mr-6">
                        <img
                            src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/null/external-wallet-black-friday-cyber-monday-flaticons-flat-flat-icons.png" />
                    </div>
                    <div>
                        <span class="block text-2xl font-bold">{{amount}}</span>
                        <span class="block text-gray-500">{{category}}</span>
                    </div>
                </div>
                {{/each}}

            </section>
            <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

                <div class="fixed inset-0 z-10 overflow-y-scroll">
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

                        <div
                            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 overflow-y-scroll">
                                <div class="sm:flex sm:items-center overflow-y-scroll">

                                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left overflow-y-scroll">
                                        <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">
                                            Add a Wallet</h3>
                                        <div class="overflow-y-scroll mt-2">
                                            <form action="/home" method="post" id="expense">
                                                <div>
                                                    <label for="name"
                                                        class="block text-sm font-medium text-gray-700">Name</label>
                                                    <input required type="text" name="name" id="name"
                                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">

                                                    <label for="amount"
                                                        class="block text-sm font-medium text-gray-700">Amount</label>
                                                    <input type="number" name="amount" id="amount"
                                                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                                        required>

                                                </div>

                                                <div class="px-6 py-3 sm:flex sm:flex-row-reverse sm:px-6">

                                                    <button type="submit"
                                                        class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-indigo-300 px-8 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-300 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Add</button>
                                                    <a href="/home">
                                                        <button type="button"
                                                            class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-8 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>

                                                    </a>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <section class="grid md:grid-cols-2 xl:grid-cols-3 xl:grid-rows-2 xl:grid-flow-col gap-6">
                <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
                    <div class="px-6 py-5 font-semibold border-b border-gray-100">Expenditure Trend Over the Year</div>
                    <div class="p-4 flex-grow">
                        <div
                            class="flex items-center justify-center h-full px-4 py-16 text-gray-400 text-3xl font-semibold bg-gray-100 border-2 border-gray-200 border-dashed rounded-md">
                            Chart</div>
                    </div>
                </div>

                <div class="row-span-3 bg-white shadow rounded-lg">
                    <form action="" method="post">
                        <div class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100">
                            <span>Your Wallets</span>
                            <button>Add</button>
                            <!-- Refer here for full dropdown menu code: https://tailwindui.com/components/application-ui/elements/dropdowns -->
                        </div>
                    </form>

                    <div class="overflow-y-scroll" style="max-height: 24rem;">
                        <ul class="p-6 space-y-6">

                            {{#each wallet}}
                            <li class="flex items-center">
                                <div class="h-10 w-10 mr-3 overflow-hidden">
                                    <img
                                        src="https://img.icons8.com/external-tanah-basah-detailed-outline-tanah-basah/48/null/external-wallet-user-interface-tanah-basah-detailed-outline-tanah-basah.png" />
                                </div>
                                <span class="text-gray-600">{{name}}</span>
                                <span class="ml-auto font-semibold">{{amount}}</span>
                            </li>
                            {{/each}}


                        </ul>
                    </div>
                </div>

            </section>
            {{!-- <section class="text-right font-semibold text-gray-500">
                <a href="#" class="text-indigo-600 hover:underline">Recreated on Codepen</a> with <a
                    href="https://tailwindcss.com/" class="text-teal-400 hover:underline">Tailwind CSS</a> by Azri
                Kahar, <a href="https://dribbble.com/shots/10711741-Free-UI-Kit-for-Figma-Online-Courses-Dashboard"
                    class="text-indigo-600 hover:underline">original design</a> made by Chili Labs
            </section> --}}
        </main>
    </div>
</body>